{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input class="db-updating-button tippy-tooltipped" type="submit" name="get_new_button" value="Transfer data" id="tt_transfer_data"/>
</form>

<h4>Current player id: {{sb_player.player_id}}</h4>
<h6>Current player name: {{sb_player}} </h6>
<p>Recently transferred data: {{transferred_data}}</p>
<p>Recently transferred attribute: {{transferred_attr}}</p>
<p>Attributes left for current player: {{attribute_count}}</p>
<p>Number of players in the database: {{ all_db_players_num }}</p>

{% endblock content %}